---
import Layout from '@/layouts/Layout.astro';
import { mainChapterName } from '@/data/data';

const chapters = ['s0', 's1', 's2', 's3', 's4', 's5', 's6', 's7'] as const;
---

<Layout title="Main Story">
	<main class="flex min-h-dvh items-center justify-center">
		<div class="flex flex-col items-center justify-center gap-6">
			{
				chapters.map((ep) => (
					<a href={`/main_story/${ep}`} class="leading-none font-medium tracking-tight capitalize">
						{mainChapterName[ep].replaceAll('_', ' ')}
					</a>
				))
			}
		</div>
	</main>
</Layout>
