---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main class="flex min-h-dvh items-center justify-center gap-4 *:rounded-lg *:bg-zinc-200 *:p-2">
		<a href="/dantes_notes">Dante's Notes</a>
		<a href="/detour_tales">Detour Tales</a>
		<a href="/identity_archive">Identity Archive</a>
		<a href="/main_story">Main Story</a>
	</main>
</Layout>
