---
import Layout from '@/layouts/Layout.astro';
import { MAIN_STORIES } from '@/types/types';

export function getStaticPaths() {
	return MAIN_STORIES.map((ep) => {
		return { params: { episode: ep } };
	});
}

const { episode } = Astro.params;
---

<Layout title={`Episode ${episode}`}>
	<main class="flex min-h-dvh w-full items-center justify-center">
		<div>
			<p>CHECK</p>
		</div>
	</main>
</Layout>
